.create-form, .task-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.field, .task-name {
  grid-column-start: 1;
  grid-column-end: span 11;
}

.task-name span {
  font-style: italic;
}

.subtasks-list {
  width: 100%;
  padding-left: 4rem;
}

.completed-true {
  text-decoration: line-through;
}

.task-card {
  border-radius: 5px;
  border: 1px solid #666;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
}

.task-card:nth-child(odd) {
  background: #ffffff;
}

.task-card:nth-child(even) {
  background: #f6f6f6;
}